NODE_ENV=dev
PORT=3000
UI_URL=http://localhost:3000
# DATABASE
DATABASE_URL="prisma+postgres://localhost:51213/?api_key=aaa"
# JWT
JWT_SECRET_KEY="dona"
JWT_EXPIRES_IN="30d"
# MAILING
RESEND_API_KEY="key"
